name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: '1.24'
        check-latest: true
        cache: true
    - run: go install github.com/mitchellh/gox@latest
    - run: PATH=$HOME/go/bin:$PATH ./crossbuild.sh
    - uses: actions/upload-artifact@v1
      with:
        name: binaries
        path: binaries